@media screen and (max-width: 1080px) {
	.greatings__body {
		flex-direction: column;
	}

	.greatings__head {
		flex-direction: column;
	}

	.greatings__head__title {
		margin-bottom: 1rem;
	}

	.greatings__body__card {
		margin: 2.2rem 0;
	}

	.greatings__footer {
		margin: 0;
		flex-direction: column;
		align-items: center;
	}

	.greatings__footer__client {
		margin: 0.2rem 0;
	}
}
