.about-us {
	width: 55%;
	margin: auto;
	margin-top: 7rem;
	display: flex;
}

.about-us__image,
.about-us__texts {
	margin: 0 1rem;
}

/* ---------- IMAGE ---------- */

.about-us__image {
	height: 500px;
	width: 50%;
	margin: 0 7rem;
	background-image: url("../images/inside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.about-us__image::after {
	content: "";
	display: inline-block;
	height: 300px;
	width: 500px;
	background-image: url("../images/dots-background.png");
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0.1;
	z-index: -1;
	top: 50%;
	left: -25%;
}

/* ---------- TEXTS ---------- */

.about-us__texts {
	width: 50%;
}

.about-us__texts__titles {
	margin-bottom: 3rem;
}

.about-us__texts__titles h3 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 800;
	color: #c5db21;
}

.about-us__texts__titles p {
	font-size: 2rem;
	font-weight: 800;
	line-height: 2rem;
	letter-spacing: -1px;
	text-transform: capitalize;
}

.about-us__texts__description {
	font-size: 0.8rem;
	font-weight: 700;
	color: #999;
	text-align: justify;
	line-height: 1.35rem;
	word-spacing: 2px;
}

.about-us__texts__experiences {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	position: relative;
}

.about-us__texts__experiences__square {
	height: 100px;
	width: 100px;
	border: solid 4px #c5db21;
	z-index: 0;
}

.about-us__texts__experiences__years {
	font-size: 5rem;
	font-weight: 700;
	position: absolute;
	left: 8%;
}

.about-us__texts__experiences__yearsTexts {
	margin-left: 2rem;
}

.about-us__texts__experiences__yearsTexts p {
	font-weight: 800;
}
